<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flytv.compos.run"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <!-- 使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 查询网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--  -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 蓝牙分享所需的权限 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".AyFriend"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".AyFriendUser"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".AyFriendAdd"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.qaonline.ui.QAMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.qaonline.ui.QADetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.qaonline.ui.MyImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.qaonline.ui.QAGoodTeacherListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".AyInfoOption"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!--  -->
        <activity
            android:name="flytv.compos.run.control.compos.AyCompos"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.AyComposAdd"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.user.AyUserSort"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators_tab" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.AyComposQuestion"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.AyComposStuden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators_tab" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.AyComposChin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators_tab" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.AyComposChinMark"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.stu.AyComposMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators_tab"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.AyComposMarkStu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.stu.AyComposStuAnswer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.AyComposPDF"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.AyComposPDFMark"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan" >
        </activity>
        <!--  -->
        <activity
            android:name="flytv.compos.run.control.compos.user.AyUser"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.compos.run.control.compos.user.UserInfoAd"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="flytv.compos.run.MyMP3Dialog"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
          <activity
            android:name="com.example.richtest.MyMP3Dialog"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name=".adpublic.ShowImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".adpublic.AyVideoCompoe"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="flytv.qaonline.ui.NewQAActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="flytv.qaonline.ui.SubmitExperimentActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="flytv.qaonline.ui.TestActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".AyRegisterLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="cc0913484e" /> <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Sound" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />
        
        <!-- 百度语音 -->
         <activity android:name="com.example.richtest.MainActivity" >
        </activity>
        <activity android:name="com.example.richtest.RotateActivity" android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
         <activity
            android:name="com.baidu.android.voicedemo.SettingActivity"
            android:label="@string/setting" />
        <activity
            android:name="com.baidu.android.voicedemo.NLUDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:description="@string/activity_desc_nlu"
            android:label="@string/activity_label_nlu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="baidu.voicedemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baidu.android.voicedemo.DialogTipsDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="@string/activity_label_dialog_tips"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="baidu.voicedemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baidu.android.voicedemo.ExternalAudioDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:description="@string/activity_desc_external"
            android:label="@string/activity_label_external" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="baidu.voicedemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baidu.android.voicedemo.ApiDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:description="@string/activity_desc_api"
            android:label="@string/activity_label_api" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="baidu.voicedemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.richtest.SimpleSampleActivity" android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>